.main-layout__modules-display {
  grid-row: 1/3;
  grid-column: 1/2;
  padding-left: 10px;
  padding-right: 10px; }

@media (max-width: 599px) {
  .main-layout__areas-display {
    margin-top: calc(140px - 10vw); } }

@media (min-width: 600px) {
  .main-layout__areas-display {
    margin-top: calc(200px - 10vw); } }

@media (min-width: 900px) {
  .main-layout__areas-display {
    margin-top: 10vw; } }

@media (min-width: 1200px) {
  .main-layout__areas-display {
    margin-top: 10vw; } }

@media (min-width: 1800px) {
  .main-layout__areas-display {
    margin-top: 10vw; } }

.thematic-area-display {
  border-bottom: 1px solid #030303;
  padding: 2.2vw 1vw 1.3vw 1vw; }
  .thematic-area-display:not(:first-child) {
    padding-top: 7vw; }
  .thematic-area-display > h3 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 0 20px; }
    .thematic-area-display > h3:before, .thematic-area-display > h3:after {
      height: 2px;
      width: 15vw;
      margin-bottom: 8px;
      background-color: #5677ab;
      content: "\A";
      display: inline-block; }
    .thematic-area-display > h3:before {
      margin-right: 20px; }
    .thematic-area-display > h3:after {
      margin-left: 20px; }
    .thematic-area-display > h3 > span {
      background-color: #fee74f;
      padding: 5px 20px;
      border-top: #b19d18 1px solid;
      border-right: #b19d18 1px solid;
      border: #b19d18 1px solid;
      border-radius: 5px;
      font-weight: bold; }
      @media (max-width: 599px) {
        .thematic-area-display > h3 > span {
          font-size: 12px; } }
      @media (min-width: 600px) {
        .thematic-area-display > h3 > span {
          font-size: 14px; } }
      @media (min-width: 900px) {
        .thematic-area-display > h3 > span {
          font-size: 16px; } }
      @media (min-width: 1200px) {
        .thematic-area-display > h3 > span {
          font-size: 24px; } }
      @media (min-width: 1800px) {
        .thematic-area-display > h3 > span {
          font-size: 1.4vw; } }

.main-layout__single-modules-display {
  display: grid;
  clear: both;
  grid-gap: 1.5vw;
  margin: 50px 0; }
  @media (max-width: 599px) {
    .main-layout__single-modules-display {
      grid-template-columns: repeat(auto-fit, minmax(20vw, 25vw)); } }
  @media (min-width: 600px) {
    .main-layout__single-modules-display {
      grid-template-columns: repeat(auto-fit, minmax(10vw, 20vw)); } }
  @media (min-width: 900px) {
    .main-layout__single-modules-display {
      grid-template-columns: repeat(auto-fit, minmax(11vw, 15vw)); } }
  @media (min-width: 1800px) {
    .main-layout__single-modules-display {
      grid-template-columns: repeat(auto-fit, minmax(10vw, 12vw)); } }
