body {
  margin: 0;
  padding: 0;
  font-family: Shree;
  background-color: #e0e0e0; }

/*
@font-face {
  font-family: "Shree";
  src: url(./fonts/font.css);
}*/
@keyframes single-module-details {
  from {
    background: #f9f9f9;
    background: initial;
    color: black; }
  to {
    background: #2c5697;
    color: ghostwhite; } }

.single-module__details-modal-header {
  display: inline-flex;
  font-size: 1.4em; }
  .single-module__details-modal-header::before {
    height: 0.5em;
    width: 0.5em;
    align-self: center;
    border-radius: 50%;
    background-color: #2c5697;
    content: "\A";
    display: inline-block;
    margin-right: 5px; }

.single-module__details-modal-single-detail {
  list-style: none;
  font-size: 1.2em; }
  .single-module__details-modal-single-detail::before {
    height: 0.5em;
    width: 0.5em;
    align-self: center;
    border-radius: 50%;
    background-color: #fee123;
    content: "\A";
    display: inline-block;
    margin-right: 5px; }

@media (min-width: 1000px) {
  .modal-dialog {
    position: absolute;
    margin: 100px auto auto 15vw; }
  .modal-content {
    width: 70vw;
    font-size: 1vw; }
  .single-module__details-modal-header::before {
    margin-right: 0.5em; }
  .modal-header > button {
    font-size: 2em; }
  .modal-footer > button {
    font-size: 1.3em; }
  .single-module__details-modal-single-detail {
    line-height: 1.7em; }
    .single-module__details-modal-single-detail::before {
      margin-right: 1em; } }
