@import "../../../global.scss";


$size: 32px;


.single-module {
  &__details-button {
    border: none;
    display: inline-block;
    width: $size;
    height: $size;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -7px;
    right: 32px;
    z-index: 1;
    background: #fff;
    transform: scale(1);
    transition: transform $duration $timing;
    border-radius: 50%;
    cursor: pointer;
  
    box-shadow: $box-shadow;
    &:active, &:hover, &:focus {
      transform: scale(1.2);
    }
    
  }
  &__icon {
    width: 100%;
    height: 100%;
    &--details {
      fill: $color-cp-blue;
    }
  }
}

.single-module__details-modal-header {
  display: inline-flex;
  font-size: 1.4em;
  &::before {
    @include bullet($color-cp-blue, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}

.single-module__details-modal-single-detail {
  list-style: none;
  font-size: 1.2em;
  &::before {
    @include bullet($color-cp-yellow, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}
@media (min-width: 1000px) {
  .modal-dialog {
    position: absolute;
    margin: 100px auto auto 15vw;
  }
  .modal-content {
    width: 70vw;
    font-size: 1vw;
  }
  .single-module__details-modal-header {
    &::before {
      margin-right: 0.5em;
    }
  }
  .modal-header > button {
    font-size: 2em;
  }
  .modal-footer > button {
    font-size: 1.3em;
  }
  .single-module__details-modal-single-detail {
    line-height: 1.7em;
    &::before {
      margin-right: 1em;
    }
  }
}
