@import "../../../global.scss";

.order-list__help {
  margin: 0 0 4px 0;
  padding: 4px 0;
  background: transparent;
  border: none;
  vertical-align: middle;
  @include for-phone {
    font-size: 10px;
  }
  @include for-tablet-portrait-and-up {
    font-size: 12px;
  }
  @include for-tablet-landscape-and-up {
    font-size: 14px;
  }
  @include for-desctop-and-up {
    font-size: 16px;
  }
  @include for-big-screen-and-up {
    font-size: 1.1vw;
  }
}

.help-icon {
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
  fill: $color-cp-yellow;
  margin-right: 4px;
  vertical-align: bottom;
  animation: shake 4.72s ease infinite;
}

@keyframes shake {
  0% { transform:rotate(-10deg) }
 1.78571% { transform:rotate(10deg) }
 3.57143% { transform:rotate(-10deg) }
 5.35714% { transform:rotate(10deg) }
 7.14286% { transform:rotate(-10deg) }
 8.92857% { transform:rotate(10deg) }
 10.71429% { transform:rotate(-10deg) }
 100% { transform:rotate(-10deg) }
}

.help-modal__infograpgic {
  width: 100%;
}
.help-modal__close-btn {
  float: right;
  width: 1em;
  height: 2em;
  position: relative;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
