.send-my-list__form-container {
  border-top: 5px double #dfdede;
  margin-top: 40px !important;
  padding-top: 10px; }

@media (max-width: 599px) {
  .send-my-list__form-input-label {
    font-size: 14px; } }

@media (min-width: 600px) {
  .send-my-list__form-input-label {
    font-size: 16px; } }

@media (min-width: 900px) {
  .send-my-list__form-input-label {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .send-my-list__form-input-label {
    font-size: 16px; } }

@media (min-width: 1800px) {
  .send-my-list__form-input-label {
    font-size: 1.3vw; } }

@media (max-width: 599px) {
  .form-control {
    font-size: 8px; } }

@media (min-width: 600px) {
  .form-control {
    font-size: 10px; } }

@media (min-width: 900px) {
  .form-control {
    font-size: 12px; } }

@media (min-width: 1200px) {
  .form-control {
    font-size: 14px; } }

@media (min-width: 1800px) {
  .form-control {
    font-size: 0.9vw; } }

.checkbox-inline {
  font-size: 0.8vw; }

input[type="checkbox"] {
  transform: scale(1.5); }

.send-my-list__send-button {
  width: 90%; }
  @media (max-width: 599px) {
    .send-my-list__send-button {
      font-size: 12px; } }
  @media (min-width: 600px) {
    .send-my-list__send-button {
      font-size: 18px; } }
  @media (min-width: 900px) {
    .send-my-list__send-button {
      font-size: 20px; } }
  @media (min-width: 1800px) {
    .send-my-list__send-button {
      font-size: 1.3vw; } }
