body {
  margin: 0;
  padding: 0;
  font-family: Shree;
  background-color: #e0e0e0; }

/*
@font-face {
  font-family: "Shree";
  src: url(./fonts/font.css);
}*/
.send-my-list__form-container {
  border-top: 5px double #dfdede;
  margin-top: 50px !important;
  padding-top: 10px; }

.send-my-list__form-input-label {
  font-size: 1vw; }

.form-control .send-my-list__form-input {
  font-size: 0.8vw; }

.checkbox-inline {
  font-size: 0.8vw; }

input[type="checkbox"] {
  transform: scale(1.5); }

.send-my-list__send-button {
  width: 90%;
  font-size: 1.2vw; }

@media (max-width: 700px) {
  .send-my-list__send-button {
    font-size: 1em; }
  .send-my-list__form-input-label {
    font-size: 2.5vw; }
  .form-control .send-my-list__form-input {
    font-size: 2vw; }
  .checkbox {
    height: 1vw;
    width: 1vw; }
  .checkbox-inline {
    font-size: 2vw; }
  input[type="checkbox"] {
    transform: scale(1); } }
