@import "../../../global.scss";
.send-my-list__form-container {
  border-top: 5px double rgb(223, 222, 222);
  margin-top: 40px !important;
  padding-top: 10px;
}
.send-my-list__form-input-label {
  @include for-phone {
    font-size: 14px;
  }
  @include for-tablet-portrait-and-up {
    font-size: 16px;
  }
  @include for-tablet-landscape-and-up {
    font-size: 18px;
  }
  @include for-desctop-and-up {
    font-size: 16px;
  }
  @include for-big-screen-and-up {
    font-size: 1.3vw;
  }
}

.form-control {
  @include for-phone {
    font-size: 8px;
  }
  @include for-tablet-portrait-and-up {
    font-size: 10px;
  }
  @include for-tablet-landscape-and-up {
    font-size: 12px;
  }
  @include for-desctop-and-up {
    font-size: 14px;
  }
  @include for-big-screen-and-up {
    font-size: 0.9vw;
  }
}

.checkbox-inline {
  font-size: 0.8vw;
}
input[type="checkbox"] {
  transform: scale(1.5);
}
.send-my-list__send-button {
  width: 90%;
  @include for-phone {
    font-size: 12px;
  }
  @include for-tablet-portrait-and-up {
    font-size: 18px;
  }
  @include for-tablet-landscape-and-up {
    font-size: 20px;
  }
  @include for-big-screen-and-up {
    font-size: 1.3vw;
  }
}
