@font-face {
  font-family: 'ShreeDev0714-Bold-Italic';
  src: url('ShreeDev0714-Bold-Italic.eot');
  src: url('ShreeDev0714-Bold-Italic.woff2') format('woff2'),
       url('ShreeDev0714-Bold-Italic.woff') format('woff'),
       url('ShreeDev0714-Bold-Italic.ttf') format('truetype'),
       url('ShreeDev0714-Bold-Italic.svg#ShreeDev0714-Bold-Italic') format('svg'),
       url('ShreeDev0714-Bold-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ShreeDev0714-Bold';
  src: url('ShreeDev0714-Bold.eot');
  src: url('ShreeDev0714-Bold.woff2') format('woff2'),
       url('ShreeDev0714-Bold.woff') format('woff'),
       url('ShreeDev0714-Bold.ttf') format('truetype'),
       url('ShreeDev0714-Bold.svg#ShreeDev0714-Bold') format('svg'),
       url('ShreeDev0714-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ShreeDev0714-Italic';
  src: url('ShreeDev0714-Italic.eot');
  src: url('ShreeDev0714-Italic.woff2') format('woff2'),
       url('ShreeDev0714-Italic.woff') format('woff'),
       url('ShreeDev0714-Italic.ttf') format('truetype'),
       url('ShreeDev0714-Italic.svg#ShreeDev0714-Italic') format('svg'),
       url('ShreeDev0714-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ShreeDev0714';
  src: url('ShreeDev0714.eot');
  src: url('ShreeDev0714.woff2') format('woff2'),
       url('ShreeDev0714.woff') format('woff'),
       url('ShreeDev0714.ttf') format('truetype'),
       url('ShreeDev0714.svg#ShreeDev0714') format('svg'),
       url('ShreeDev0714.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

