@import "../../../global.scss";
@keyframes order-list-module-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.order-list__single-day-display {
  border-bottom: $division-line;
  margin-top: 25px;
  margin-bottom: 10px;
}
.order-list__single-day-display-header {
  font-size: 1.3vw;
  animation: order-list-module-appear 1s forwards;
  &::before {
    @include bullet($color-cp-blue, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}
.list-group-item {
  display: inline-flex;
  width: 90%;
  border: none;
  font-size: 1.1vw;
}
.order_list__single-day-module-display {
  animation: order-list-module-appear 1s forwards;
  &::before {
    @include bullet($color-cp-yellow, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}
.order-list__single-day-remove-button {
  align-self: center;
  margin-left: 5px;
  margin-right: 0;
  margin-left: auto;
  &:hover {
    cursor: pointer;
  }
  & > img {
    height: 1em;
    width: 1em;
    color: pink;
  }
}

@media (max-width: 700px) {
  .order-list__single-day-display {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .order-list__single-day-display-header {
    font-size: 3vw;
  }
  .list-group-item {
    display: inline-flex;
    width: 85%;
    font-size: 2.5vw;
  }

  .order-list__single-day-remove-button {
    height: 1.5em;
    width: 1.5em;
  }
}
