body {
  margin: 0;
  padding: 0;
  font-family: Shree;
  background-color: #e0e0e0; }

/*
@font-face {
  font-family: "Shree";
  src: url(./fonts/font.css);
}*/
.order-list__close-day-one-info-modal-title {
  font-size: 2vw; }

.order-list__close-day-one-info-modal-body {
  font-size: 1.5vw; }
