.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .icons-sprite {
    position: absolute; 
    width: 0; 
    height: 0; 
    overflow: hidden;
  }
 