body {
  margin: 0;
  padding: 0;
  font-family: Shree;
  background-color: #e0e0e0; }

/*
@font-face {
  font-family: "Shree";
  src: url(./fonts/font.css);
}*/
.footer {
  background-color: #6c6c6c;
  opacity: 0.8;
  color: ghostwhite; }

.footer__contact-info {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 40%;
  font-size: 1.5vw; }
  .footer__contact-info * {
    margin-top: 10px; }
  .footer__contact-info a {
    text-decoration: none;
    color: ghostwhite;
    display: block; }

.footer__contact-info-icon {
  height: 2vw;
  width: 2vw;
  margin-top: 0;
  margin-right: 0.5vw; }

.footer__copyright {
  border-top: 1px solid ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.5vw;
  color: #a8a8a8; }
  .footer__copyright p {
    margin-left: 10px; }
    .footer__copyright p a {
      text-decoration: none;
      color: #a8a8a8; }

@media (max-width: 700px) {
  .footer__contact-info {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    font-size: 5vw; }
  .footer__contact-info-icon {
    height: 5vw;
    width: 5vw;
    margin-right: 3vw; }
  .footer__copyright {
    font-size: 0.5vw;
    color: #a8a8a8; }
    .footer__copyright p {
      margin-left: 10px; }
      .footer__copyright p a {
        text-decoration: none;
        color: #a8a8a8; } }
