@keyframes grad {
  from {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  to {
    background-position: 0% 50%; } }

.landing-page {
  background: linear-gradient(135deg, #b1b1b1, white, #a1a1a1, white);
  background-size: 400% 400%;
  animation: grad 15s ease infinite;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.landing-page__logo-CPAB {
  grid-column: 1/2;
  justify-self: end;
  align-self: center;
  height: 30vh;
  width: 30vw;
  margin-bottom: 15.5vh; }

.landing-page__title {
  grid-column: 2/3;
  justify-self: start;
  margin-top: 47.8vh;
  font-size: 5.5vw;
  text-transform: uppercase;
  font-weight: bold; }

.landing-page__division-line {
  position: absolute;
  z-index: 10;
  border: solid black 1px;
  width: 100vw;
  margin-top: 50vh; }

.landing-page__proceed-button {
  position: absolute;
  height: 100px;
  width: 200px;
  margin-left: 50%;
  margin-right: auto;
  bottom: 0;
  border-radius: 50vh 50vh 0 0;
  background-color: white;
  transform: translateX(-50%); }
  .landing-page__proceed-button:hover {
    cursor: pointer; }
  .landing-page__proceed-button > .landing-page__down-drop-arrow {
    display: block;
    margin: 10% auto auto auto;
    animation: proceed-pulse 2s infinite; }
