/*
* CONTENTS.................................
*
* LAYOUT...................................
*
* HEADER...................................
*
* MODULES..................................
*
* ORDERLIST................................
*
* FOOTER...................................
*
* KEYFRAMES................................
*/

/*---------------------------------------------------*\
    #LAYOUT
\*---------------------------------------------------*/

.main-layout {
  /*background: rgb(235, 235, 235);
  background: -moz-linear-gradient(
    45deg,
    rgb(235, 235, 235) 0%,
    rgb(255, 255, 255) 50%,
    rgb(235, 235, 235) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgb(235, 235, 235) 0%,
    rgb(255, 255, 255) 50%,
    rgb(235, 235, 235) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(235, 235, 235) 0%,
    rgb(233, 234, 243) 50%,
    rgb(235, 235, 235) 100%
  );*/
}

/*---------------------------------------------------*\
    #HEADER
\*---------------------------------------------------*/

.header {
  background: rgb(235, 235, 235, 0.1);
}

h1.header__title {
  text-align: center;
}

/*---------------------------------------------------*\
    #MODULES
\*---------------------------------------------------*/

.grid {
  width: 98%;
}

.single-module {
  height: 18em;
  border: 2px solid rgb(44, 86, 151);
  background: rgb(235, 235, 235);
  /*background: -moz-linear-gradient(
    45deg,
    rgb(235, 235, 235) 0%,
    rgb(255, 255, 255) 10%,
    rgb(255, 255, 255) 90%,
    rgb(235, 235, 235) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgb(235, 235, 235) 0%,
    rgb(255, 255, 255) 10%,
    rgb(255, 255, 255) 90%,
    rgb(235, 235, 235) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(235, 235, 235) 0%,
    rgb(255, 255, 255) 10%,
    rgb(255, 255, 255) 90%,
    rgb(235, 235, 235) 100%
  );*/
  border-radius: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.single-module--added {
  animation: chosen-single-module 1s forwards;
  border: 2px solid rgb(254, 225, 35);
  box-shadow: 2px 2px 7px 1px #1c6ea4;
  z-index: 2;
}
.single-module--not-added {
  animation: not-chosen-single-module 1s forwards;
  border: 2px solid rgb(44, 86, 151);
}

.sindgle-module__thematic-area-display {
  border-bottom: solid 1px grey;
  width: 100%;
  padding: 5%;
  text-align: center;
}

.single-module__module-name-display {
  transform: translateY(-30%);
}

.single-module__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.single-module__buttons--chosen {
  /*background-color: rgb(254, 225, 35);
  color: #1c1c1c;*/
}
.single-module__buttons--not-chosen {
  background-color: rgb(44, 86, 151);
}
.single-module__buttons__details {
  background-color: rgb(254, 225, 35);
  color: #1c1c1c;
}
.single-module__buttons__details:hover {
  background-color: rgb(255, 233, 93);
}

/*---------------------------------------------------*\
    #ORDERLIST
\*---------------------------------------------------*/

.order-list {
  /*position: fixed;
  width: 30%;
  height: 90vh;
  overflow: scroll;
  z-index: 20;
  top: 20px;*/
}

.order-list__header {
  text-align: center;
  margin: 5%;
}

.order-list__add-first-module-info {
  border: solid 2px rgb(44, 86, 151);
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
}

.order-list__max-modules-info-display {
  border: solid 2px red;
  text-align: center;
  font-size: 1.2em;
}

.order-list__single-day-display {
  padding: 5%;
  margin-bottom: 2%;
  /* text-align: center;*/
  font-size: 1.2em;
}

.order_list__single-day__module-display {
  border: solid 1px rgb(255, 233, 93);
  box-shadow: 2px 2px 7px 1px #1c6ea4;
}

/*---------------------------------------------------*\
    #FOOTER
\*---------------------------------------------------*/
.footer {
  background: rgb(255, 255, 255, 0.1);
}

/*---------------------------------------------------*\
    #KEYFRAMES
\*---------------------------------------------------*/

@keyframes chosen-single-module {
  from {
    transform: scale(1);
    border: 2px solid rgb(44, 86, 151);
  }
  to {
    transform: scale(1.01);
    border: 2px solid rgb(254, 225, 35);
  }
}
@keyframes not-chosen-single-module {
  from {
    transform: scale(1.01);
    border: 2px solid rgb(254, 225, 35);
  }
  to {
    transform: scale(1);
    border: 2px solid rgb(44, 86, 151);
  }
}
