.main-layout {
  display: grid;
  grid-template-columns: 60vw 40vw;
  grid-template-rows: 15vh auto; }
  @media (min-width: 600px) {
    .main-layout {
      grid-template-columns: 70vw 30vw;
      grid-template-rows: 15vh auto; } }
