@import "./global.scss";
.main-layout {
  display: grid;
  grid-template-columns: 60vw 40vw;
  grid-template-rows: 15vh auto;

  @include for-tablet-portrait-and-up {
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 15vh auto;
  }
}
