/* Ideas:
* 1. How about changing colors in RWD? Do it with media query - not convinced
*/

/*---------------------------------------------------------------------------------------------------*\
                              CONTENTS
/*---------------------------------------------------------------------------------------------------*\
*
* VARIABLES AND MIXINS.......................
*
* GLOBAL.....................................body, font-face
*
* KEYFRAMES..................................
*
* MAIN LAYOUT................................layout of Navbar, Single Modules and Order List
*
* COMPONENTS:
*
* Landing Page...............................Logo, proceed button - REMOVED
* Thematic Area Navbar.......................ScrollTo buttons
* Order List.................................Help modal, Single day
* Send Order Form............................Form
* Modules display............................Position of modules list
* Thematic Area Display......................
* Single Module..............................Add module and Details buttons
* Single Module Details Modal................Details modal
*
* FOOTER.....................................
*
* MEDIA QUERIES..................................
\*---------------------------------------------------------------------------------------------------*/

$color-background-secondary: rgb(224, 224, 224);
$color-background-primary: rgb(249, 249, 249);
$color-cp-yellow: rgb(254, 225, 35);
$color-cp-blue: rgb(44, 86, 151);
$color-cp-chosen: rgb(195, 195, 195);
$color-single-module-hover: rgb(194, 207, 226);
$color-help: rgba(231, 97, 7, 0.747);

$division-line: 1px solid rgb(223, 222, 222);

@mixin bullet($bullet-color, $size) {
  height: $size;
  width: $size;
  align-self: center;
  border-radius: 50%;
  background-color: $bullet-color;
}
/*---------------------------------------------------*\
    #GLOBAL
\*---------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Shree;
  background-color: $color-background-secondary;
}
@font-face {
  font-family: "Shree";
  src: url(./fonts/font.css);
}

/*---------------------------------------------------*\
    #KEYFRAMES
\*---------------------------------------------------*/
/*
@keyframes proceed-pulse {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
*/
@keyframes help-animation {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes order-list-module-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grad {
  from {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

@keyframes pulse-grow {
  to {
    transform: scale(1.1);
  }
}
@keyframes single-module-details {
  from {
    background: $color-background-primary;
    background: initial;
    color: black;
  }
  to {
    background: $color-cp-blue;
    color: ghostwhite;
  }
}

/*---------------------------------------------------*\
    #LANDING PAGE
\*---------------------------------------------------*/
/*
.landing-page {
  //background-color: $color-background-secondary;
  background: linear-gradient(
    135deg,
    rgb(177, 177, 177),
    $color-background-primary,
    rgb(161, 161, 161),
    $color-background-primary
  );
  background-size: 400% 400%;
  animation: grad 15s ease infinite;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.landing-page__logo-CPAB {
  grid-column: 1/2;
  justify-self: end;
  align-self: center;
  height: 30vh;
  width: 30vw;
  margin-bottom: 15.5vh;
}
.landing-page__title {
  grid-column: 2/3;
  justify-self: start;
  margin-top: 47.8vh;
  font-size: 5.5vw;
  text-transform: uppercase;
  font-weight: bold;
}
.landing-page__division-line {
  position: absolute;
  z-index: 10;
  border: solid black 1px;
  width: 100vw;
  margin-top: 50vh;
}
.landing-page__proceed-button {
  position: absolute;
  height: 100px;
  width: 200px;
  margin-left: 50%;
  margin-right: auto;
  bottom: 0;
  border-radius: 50vh 50vh 0 0;
  background-color: $color-background-primary;
  transform: translateX(-50%);
  &:hover {
    cursor: pointer;
  }
  & > .landing-page__down-drop-arrow {
    display: block;
    margin: 10% auto auto auto;
    animation: proceed-pulse 2s infinite;
  }
}
*/
/*---------------------------------------------------*\
    #MAIN LAYOUT
\*---------------------------------------------------*/

.main-layout {
  display: grid;
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 15vh auto;
}

/*---------------------------------------------------*\
    #THEMATIC AREA NAVBAR
\*---------------------------------------------------*/

.thematic-area-nav {
  position: sticky;
  width: 70vw;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 1.3vw;
  box-shadow: 0 0 25px 1px #000000;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(
    to bottom,
    $color-background-primary 0%,
    rgb(237, 237, 237) 50%,
    $color-background-primary 100%
  );
  color: black;
  padding: 10px;

  & > * {
    color: black;
  }

  & > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 25% auto;
  }
}
.thematic-area-nav__header {
  text-transform: uppercase;
  grid-column: 1/2;
  align-self: center;
  font-weight: 700;
}
.thematic-area-nav__areas {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12vw, 16vw));
  grid-gap: 0.5em;
  & > button {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid rgb(218, 218, 218);
    border-left: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    background-color: $color-background-primary;
    font-size: 1vw;
    &:hover {
      color: black;
      box-shadow: inset 1px 1px 1px;
      font-weight: bold;
    }
    &:focus {
      outline: none;
      box-shadow: inset 1px 1px 1px;
      font-weight: bold;
    }
  }
}
.thematic-area-nav__singleThematicArea {
  & a {
    text-decoration: none;
    color: black;
  }
  & > * {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

/*---------------------------------------------------*\
    #ORDER LIST
\*---------------------------------------------------*/

.order-list {
  grid-column: 2/3;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color-background-primary;
  padding: 0 1vw 2vw 1vw;
  border: 0.1vw double $color-cp-chosen;
}

.order-list__help {
  float: right;
  clear: both;
  background-color: $color-help;
  list-style: none;
  font-size: 1vw;
  padding: 5px;
  padding-right: 20px;
  animation: help-animation 4s ease-in-out infinite;
  &:hover {
    cursor: pointer;
  }
}

.order-list__header {
  border-bottom: $division-line;
  font-size: 1.6vw;
}
.order-list__add-first-module-info {
  font-size: 1.2vw !important;
  &::before {
    @include bullet($color-cp-blue, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}
.order-list__single-day-display {
  border-bottom: $division-line;
  margin-top: 25px;
  margin-bottom: 10px;
}
.order-list__single-day-display-header {
  font-size: 1.3vw;
  animation: order-list-module-appear 1s forwards;
  &::before {
    @include bullet($color-cp-blue, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}
.list-group-item {
  display: inline-flex;
  width: 90%;
  border: none;
  font-size: 1.1vw;
}
.order_list__single-day-module-display {
  animation: order-list-module-appear 1s forwards;
  &::before {
    @include bullet($color-cp-yellow, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}
.order-list__single-day-remove-button {
  align-self: center;
  margin-left: 5px;
  margin-right: 0;
  margin-left: auto;
  &:hover {
    cursor: pointer;
  }
  & > img {
    height: 1em;
    width: 1em;
    color: pink;
  }
}

.order-list__single-day-close-day-button {
  width: 90%;
  font-size: 1.2vw;
}
.order-list__close-day-one-info-modal-title {
  font-size: 2vw;
}
.order-list__close-day-one-info-modal-body {
  font-size: 1.5vw;
}
.order-list-single-day__close-day-info-modal-header-title {
  font-size: 2vw;
}
.order-list-single-day__close-day-info-modal-body {
  font-size: 1.5vw;
}

/*---------------------------------------------------*\
    #SEND ORDER FORM
\*---------------------------------------------------*/
.send-my-list__form-container {
  border-top: 5px double rgb(223, 222, 222);
  margin-top: 50px !important;
  padding-top: 10px;
}

.send-my-list__form-input-label {
  font-size: 1vw;
}
.form-controlsend-my-list__form-input {
  font-size: 0.8vw;
}
.checkbox-inline {
  font-size: 0.8vw;
}
input[type="checkbox"] {
  transform: scale(1.5);
}
.send-my-list__send-button {
  width: 90%;
  font-size: 1.2vw;
}

/*---------------------------------------------------*\
    #MODULES DISPLAY
\*---------------------------------------------------*/
.main-layout__modules-display {
  grid-row: 1/3;
  grid-column: 1/2;
  padding-left: 10px;
  padding-right: 10px;
}
.main-layout__single-modules-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11vw, 14vw));
  clear: both;
  grid-gap: 1.5vw;
  margin-top: 1.5vw;
}

/*---------------------------------------------------*\
    #THEMATIC AREA DISPLAY
\*---------------------------------------------------*/

.thematic-area-display {
  border-bottom: $division-line;
  padding: 2.2vw 1vw 1.3vw 1vw;
  & > h3 {
    text-transform: uppercase;
    border-bottom: 0.1vw solid rgb(223, 222, 222);
    & > span {
      padding: 0.8vw 2vw 0 1vw;
      border-top: rgb(223, 222, 222) 1px solid;
      border-right: rgb(223, 222, 222) 1px solid;
      border-top-right-radius: 5px;
      box-shadow: 2px -2px 5px 2px rgba(0, 0, 0, 0.4);
      font-size: 1.3vw;
    }
  }
}

/*---------------------------------------------------*\
    #SINGLE MODULE
\*---------------------------------------------------*/

.single-module {
  background-color: $color-background-primary;
  min-height: 13vw;
  border-radius: 5%;
  transition: all 1s ease;
  box-shadow: 0 0 15px 1px #000000;
  display: flex;
  flex-direction: column;
}
.single-module--not-added {
  & .single-module__add-button {
    background-size: 0% 100%;
    transition: background-color 0.5s;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover .single-module__add-button {
    background-color: $color-background-primary;
    background-image: linear-gradient(
      to right,
      lighten($color-cp-blue, 30%) 0%,
      lighten($color-cp-blue, 70%) 40%,
      lighten($color-cp-blue, 30%) 100%
    );
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size 1s, background-color 1s;
    font-weight: bold;
  }
}

.single-module--added {
  transform: scale(0.9) rotateY(360deg);
  background-color: $color-cp-chosen;
  //color: lighten($color: #000000, $amount: 5%);
  color: darken($color: $color-background-primary, $amount: 8%);
  & .single-module__module-name-display-container,
  & .single-module__add-button {
    cursor: not-allowed;
    pointer-events: none;
  }
}
.single-module__module-name-display-container {
  text-align: center;
  font-weight: bold;
}
.single-module__module-name-display-title {
  min-height: 10vw;
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single-module__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  min-height: 3vw;
  text-transform: uppercase;
  border-top: $division-line;
  &::after,
  &::before {
    @include bullet($color-cp-yellow, 0.5em);
    content: "\A";
    display: inline-block;
  }
  &::after {
    margin-left: 10px;
  }
  &::before {
    margin-right: 10px;
  }
}

.single-module__details {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: $division-line;
  text-transform: uppercase;
  height: 2vw;
  font-size: 1vw;
  &:hover {
    cursor: pointer;
    animation: single-module-details 0.7s forwards alternate;
    &::after,
    &::before {
      @include bullet(ghostwhite, 0.5em);
      content: "\A";
      display: inline-block;
      align-content: center;
    }
    &::after {
      margin-left: 10px;
    }
    &::before {
      margin-right: 10px;
    }
  }
  &::after,
  &::before {
    @include bullet($color-cp-blue, 0.5em);
    content: "\A";
    display: inline-block;
    align-content: center;
  }
  &::after {
    margin-left: 10px;
  }
  &::before {
    margin-right: 10px;
  }
}

/*---------------------------------------------------*\
    #SINGLE MODULE DETAILS MODAL
\*---------------------------------------------------*/
.single-module__details-modal-header {
  display: inline-flex;
  font-size: 1.4em;
  &::before {
    @include bullet($color-cp-blue, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}

.single-module__details-modal-single-detail {
  list-style: none;
  font-size: 1.2em;
  &::before {
    @include bullet($color-cp-yellow, 0.5em);
    content: "\A";
    display: inline-block;
    margin-right: 5px;
  }
}

/*---------------------------------------------------*\
    #FOOTER
\*---------------------------------------------------*/

.footer {
  background-color: rgb(108, 108, 108);
  opacity: 0.8;
  color: ghostwhite;
}
.footer__contact-info {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 40%;
  font-size: 1.5vw;
  & * {
    margin-top: 10px;
  }
  & a {
    text-decoration: none;
    color: ghostwhite;
    display: block;
  }
}
.footer__contact-info-icon {
  height: 2vw;
  width: 2vw;
  margin-top: 0;
  margin-right: 0.5vw;
}

.footer__copyright {
  border-top: 1px solid ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.5vw;
  color: rgb(168, 168, 168);
  & p {
    & a {
      text-decoration: none;
      color: rgb(168, 168, 168);
    }
    margin-left: 10px;
  }
}

/*---------------------------------------------------*\
    #MEDIA QUERIES
\*---------------------------------------------------*/

@media (max-width: 700px) {
  .main-layout {
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 15vh auto;
  }

  //NAVBAR
  .thematic-area-nav {
    width: 60vw;
    padding: 5px;
    display: flex;

    & > ul {
      display: flex;
      padding: 0;
      margin-bottom: 0;
    }
  }
  .thematic-area-nav__header {
    position: absolute;
    opacity: 0;
  }
  .thematic-area-nav__areas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    & > button {
      width: 75%;
      font-size: 3vw;
      margin: 5px;
    }
  }
  //#ORDER LIST
  .order-list {
    padding: 0 1.5vw 3vw 1.5vw;
  }
  .order-list__help {
    font-size: 2vw;
    padding-right: 30px;
  }

  .order-list__header {
    font-size: 4vw;
    margin-top: 10vw;
  }
  .order-list__add-first-module-info {
    font-size: 2.5vw !important;
  }
  .order-list__single-day-display {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .order-list__single-day-display-header {
    font-size: 3vw;
  }
  .list-group-item {
    display: inline-flex;
    width: 85%;
    font-size: 2.5vw;
  }

  .order-list__single-day-remove-button {
    height: 1.5em;
    width: 1.5em;
  }

  //#SEND ORDER FORM
  .send-my-list__form-input-label {
    font-size: 2.5vw;
  }
  .form-controlsend-my-list__form-input {
    font-size: 2vw;
  }
  .checkbox {
    height: 1vw;
    width: 1vw;
  }
  .checkbox-inline {
    font-size: 2vw;
  }
  input[type="checkbox"] {
    transform: scale(1);
  }

  // #MODULES DISPLAY
  .main-layout__modules-display {
    padding-left: 5px;
    padding-right: 5px;
  }
  .main-layout__single-modules-display {
    grid-template-columns: repeat(auto-fit, minmax(20vw, 25vw));
  }

  //#THEMATIC AREA DISPLAY
  .thematic-area-display {
    padding: 0 1vw 3vw 1vw;
    & > h3 {
      border-bottom: 0.5vw solid rgb(223, 222, 222);
      & > span {
        padding: 1.5vw 3vw 0 1.5vw;
        font-size: 3vw;
        font-weight: bold;
      }
    }
  }

  //#SINGLE MODULE
  .single-module {
    min-height: 30vw;
  }

  .single-module__module-name-display-title {
    min-height: 25vw;
    font-size: 3.5vw;
  }

  .single-module__add-button {
    font-size: 2vw;
    min-height: 5vw;
    &::after {
      margin-left: 5px;
    }
    &::before {
      margin-right: 5px;
    }
  }
  .single-module__details {
    height: 5vw;
    font-size: 2vw;

    &::after {
      margin-left: 5px;
    }
    &::before {
      margin-right: 5px;
    }
  }
  //#FOOTER
  .footer__contact-info {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    font-size: 5vw;
  }
  .footer__contact-info-icon {
    height: 5vw;
    width: 5vw;
    margin-right: 3vw;
  }

  .footer__copyright {
    font-size: 0.5vw;
    color: rgb(168, 168, 168);
    & p {
      & a {
        text-decoration: none;
        color: rgb(168, 168, 168);
      }
      margin-left: 10px;
    }
  }
}
@media (min-width: 1000px) {
  //#SINGLE MODULE DETAILS
  .modal-dialog {
    position: absolute;
    margin: 100px auto auto 15vw;
  }
  .modal-content {
    width: 70vw;
    font-size: 1vw;
  }
  .single-module__details-modal-header {
    &::before {
      margin-right: 0.5em;
    }
  }
  .modal-header > button {
    font-size: 2em;
  }
  .modal-footer > button {
    font-size: 1.3em;
  }
  .single-module__details-modal-single-detail {
    line-height: 1.7em;
    &::before {
      margin-right: 1em;
    }
  }
}
