/* Ideas:
* 1. How about changing colors in RWD? Do it with media query - not convinced
*/
/*---------------------------------------------------------------------------------------------------*\
                              CONTENTS
/*---------------------------------------------------------------------------------------------------*\
*
* VARIABLES AND MIXINS.......................
*
* GLOBAL.....................................body, font-face
*
* KEYFRAMES..................................
*
* MAIN LAYOUT................................layout of Navbar, Single Modules and Order List
*
* COMPONENTS:
*
* Landing Page...............................Logo, proceed button - REMOVED
* Thematic Area Navbar.......................ScrollTo buttons
* Order List.................................Help modal, Single day
* Send Order Form............................Form
* Modules display............................Position of modules list
* Thematic Area Display......................
* Single Module..............................Add module and Details buttons
* Single Module Details Modal................Details modal
*
* FOOTER.....................................
*
* PRELOADER..................................
*
* MEDIA QUERIES..................................
\*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------*\
    #GLOBAL
\*---------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: Shree;
  background-color: #e0e0e0; }

@font-face {
  font-family: "Shree";
  src: url(./fonts/font.css); }

/*---------------------------------------------------*\
    #KEYFRAMES
\*---------------------------------------------------*/
/*
@keyframes proceed-pulse {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
*/
@-webkit-keyframes help-animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes help-animation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes order-list-module-appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes order-list-module-appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes grad {
  from {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  to {
    background-position: 0% 50%; } }

@keyframes grad {
  from {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  to {
    background-position: 0% 50%; } }

@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@-webkit-keyframes single-module-details {
  from {
    background: #f9f9f9;
    background: initial;
    color: black; }
  to {
    background: #2c5697;
    color: ghostwhite; } }

@keyframes single-module-details {
  from {
    background: #f9f9f9;
    background: initial;
    color: black; }
  to {
    background: #2c5697;
    color: ghostwhite; } }

/*---------------------------------------------------*\
    #LANDING PAGE
\*---------------------------------------------------*/
/*
.landing-page {
  //background-color: $color-background-secondary;
  background: linear-gradient(
    135deg,
    rgb(177, 177, 177),
    $color-background-primary,
    rgb(161, 161, 161),
    $color-background-primary
  );
  background-size: 400% 400%;
  animation: grad 15s ease infinite;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.landing-page__logo-CPAB {
  grid-column: 1/2;
  justify-self: end;
  align-self: center;
  height: 30vh;
  width: 30vw;
  margin-bottom: 15.5vh;
}
.landing-page__title {
  grid-column: 2/3;
  justify-self: start;
  margin-top: 47.8vh;
  font-size: 5.5vw;
  text-transform: uppercase;
  font-weight: bold;
}
.landing-page__division-line {
  position: absolute;
  z-index: 10;
  border: solid black 1px;
  width: 100vw;
  margin-top: 50vh;
}
.landing-page__proceed-button {
  position: absolute;
  height: 100px;
  width: 200px;
  margin-left: 50%;
  margin-right: auto;
  bottom: 0;
  border-radius: 50vh 50vh 0 0;
  background-color: $color-background-primary;
  transform: translateX(-50%);
  &:hover {
    cursor: pointer;
  }
  & > .landing-page__down-drop-arrow {
    display: block;
    margin: 10% auto auto auto;
    animation: proceed-pulse 2s infinite;
  }
}
*/
/*---------------------------------------------------*\
    #MAIN LAYOUT
\*---------------------------------------------------*/
.main-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70vw 30vw;
  grid-template-columns: 70vw 30vw;
  -ms-grid-rows: 15vh auto;
  grid-template-rows: 15vh auto; }

.main-layout > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.main-layout > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2; }

.main-layout > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1; }

.main-layout > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2; }

/*---------------------------------------------------*\
    #THEMATIC AREA NAVBAR
\*---------------------------------------------------*/
.thematic-area-nav {
  position: sticky;
  padding: 5px;
  margin: 0 0 10px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  font-size: 1.3em;
  box-shadow: 0 0 25px 1px #000000;
  border-radius: 0 0 5px 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), color-stop(50%, #ededed), to(#f9f9f9));
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.thematic-area-nav__logo {
  max-height: 12vh; }

.thematic-area-nav__areas {
  list-style: none;
  margin: 0;
  padding: 0 0 0 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1; }

.thematic-area-nav__single-thematic-area {
  padding: 0.6em 1em;
  margin-bottom: 0.6em;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  background-color: #f9f9f9; }
  .thematic-area-nav__single-thematic-area a {
    color: black;
    text-decoration: none; }
  .thematic-area-nav__single-thematic-area:hover {
    color: black;
    box-shadow: inset 1px 1px 1px;
    cursor: pointer; }
  .thematic-area-nav__single-thematic-area:focus {
    outline: solid 2px #2c5697; }

/*---------------------------------------------------*\
    #ORDER LIST
\*---------------------------------------------------*/
.order-list {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: -webkit-sticky;
  position: sticky;
  top: 16vh;
  height: 84vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f9f9f9;
  padding: 0 1vw 2vw 1vw;
  border: 0.1vw double #c3c3c3; }

.order-list__help {
  float: right;
  clear: both;
  background-color: rgba(231, 97, 7, 0.747);
  list-style: none;
  font-size: 1vw;
  padding: 5px;
  padding-right: 20px;
  -webkit-animation: help-animation 4s ease-in-out infinite;
  animation: help-animation 4s ease-in-out infinite; }
  .order-list__help:hover {
    cursor: pointer; }

.help-modal__infograpgic {
  width: 100%; }

.help-modal__close-btn {
  float: right;
  width: 1em;
  height: 2em;
  position: relative; }
  .help-modal__close-btn > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.order-list__header {
  border-bottom: 1px solid #dfdede;
  font-size: 1.6vw; }

.order-list__add-first-module-info {
  font-size: 1.2vw !important; }
  .order-list__add-first-module-info::before {
    height: 0.5em;
    width: 0.5em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 50%;
    background-color: #2c5697;
    content: "\A";
    display: inline-block;
    margin-right: 5px; }

.order-list__single-day-display {
  border-bottom: 1px solid #dfdede;
  margin-top: 25px;
  margin-bottom: 10px; }

.order-list__single-day-display-header {
  font-size: 1.3vw;
  -webkit-animation: order-list-module-appear 1s forwards;
  animation: order-list-module-appear 1s forwards; }
  .order-list__single-day-display-header::before {
    height: 0.5em;
    width: 0.5em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 50%;
    background-color: #2c5697;
    content: "\A";
    display: inline-block;
    margin-right: 5px; }

.list-group-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  border: none;
  font-size: 1.1vw; }

.order_list__single-day-module-display {
  -webkit-animation: order-list-module-appear 1s forwards;
  animation: order-list-module-appear 1s forwards; }
  .order_list__single-day-module-display::before {
    height: 0.5em;
    width: 0.5em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 50%;
    background-color: #fee123;
    content: "\A";
    display: inline-block;
    margin-right: 5px; }

.order-list__single-day-remove-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 5px;
  margin-right: 0;
  margin-left: auto; }
  .order-list__single-day-remove-button:hover {
    cursor: pointer; }
  .order-list__single-day-remove-button > img {
    height: 1em;
    width: 1em;
    color: pink; }

.order-list__single-day-close-day-button {
  width: 90%;
  font-size: 1.2vw; }

.order-list__close-day-one-info-modal-title {
  font-size: 2vw; }

.order-list__close-day-one-info-modal-body {
  font-size: 1.5vw; }

.order-list-single-day__close-day-info-modal-header-title {
  font-size: 2vw; }

.order-list-single-day__close-day-info-modal-body {
  font-size: 1.5vw; }

/*---------------------------------------------------*\
    #SEND ORDER FORM
\*---------------------------------------------------*/
.send-my-list__form-container {
  border-top: 5px double #dfdede;
  margin-top: 50px !important;
  padding-top: 10px; }

.send-my-list__form-input-label {
  font-size: 1vw; }

.form-controlsend-my-list__form-input {
  font-size: 0.8vw; }

.checkbox-inline {
  font-size: 0.8vw; }

input[type="checkbox"] {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.send-my-list__send-button {
  width: 90%;
  font-size: 1.2vw; }

/*---------------------------------------------------*\
    #MODULES DISPLAY
\*---------------------------------------------------*/
.main-layout__modules-display {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding-left: 10px;
  padding-right: 10px; }

.main-layout__single-modules-display {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11vw, 14vw));
  clear: both;
  grid-gap: 1.5vw;
  margin-top: 1.5vw; }

/*---------------------------------------------------*\
    #THEMATIC AREA DISPLAY
\*---------------------------------------------------*/
.thematic-area-display {
  border-bottom: 1px solid #dfdede;
  padding: 2.2vw 1vw 1.3vw 1vw; }
  .thematic-area-display > h3 {
    text-transform: uppercase;
    border-bottom: 0.1vw solid #dfdede; }
    .thematic-area-display > h3 > span {
      padding: 0.8vw 2vw 0 1vw;
      border-top: #dfdede 1px solid;
      border-right: #dfdede 1px solid;
      border-top-right-radius: 5px;
      -webkit-box-shadow: 2px -2px 5px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 2px -2px 5px 2px rgba(0, 0, 0, 0.4);
      font-size: 1.3vw; }

/*---------------------------------------------------*\
    #SINGLE MODULE
\*---------------------------------------------------*/
.single-module {
  background-color: #f9f9f9;
  min-height: 13vw;
  border-radius: 3%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: 0 0 15px 1px #000000;
  box-shadow: 0 0 15px 1px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.single-module--not-added .single-module__add-button {
  background-size: 0% 100%;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }

.single-module--not-added:hover {
  cursor: pointer; }

.single-module--not-added:hover .single-module__add-button {
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, right top, from(#82a4da), color-stop(40%, white), to(#82a4da));
  background-image: -webkit-linear-gradient(left, #82a4da 0%, white 40%, #82a4da 100%);
  background-image: -o-linear-gradient(left, #82a4da 0%, white 40%, #82a4da 100%);
  background-image: linear-gradient(to right, #82a4da 0%, white 40%, #82a4da 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  -webkit-transition: background-size 1s, background-color 1s;
  -o-transition: background-size 1s, background-color 1s;
  transition: background-size 1s, background-color 1s;
  font-weight: bold; }

.single-module--added {
  -webkit-transform: scale(0.9) rotateY(360deg);
  transform: scale(0.9) rotateY(360deg);
  background-color: #c3c3c3;
  color: #e5e5e5; }
  .single-module--added .single-module__module-name-display-container,
  .single-module--added .single-module__add-button {
    cursor: not-allowed;
    pointer-events: none; }

.single-module__module-name-display-container {
  text-align: center;
  font-weight: bold; }

.single-module__module-name-display-title {
  min-height: 10vw;
  font-size: 1.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.single-module__add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1vw;
  min-height: 3vw;
  text-transform: uppercase;
  border-top: 1px solid #dfdede; }
  .single-module__add-button::after, .single-module__add-button::before {
    height: 0.5em;
    width: 0.5em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 50%;
    background-color: #fee123;
    content: "\A";
    display: inline-block; }
  .single-module__add-button::after {
    margin-left: 10px; }
  .single-module__add-button::before {
    margin-right: 10px; }

.single-module__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #dfdede;
  text-transform: uppercase;
  height: 2vw;
  font-size: 1vw; }
  .single-module__details:hover {
    cursor: pointer;
    -webkit-animation: single-module-details 0.7s forwards alternate;
    animation: single-module-details 0.7s forwards alternate; }
    .single-module__details:hover::after, .single-module__details:hover::before {
      height: 0.5em;
      width: 0.5em;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      border-radius: 50%;
      background-color: ghostwhite;
      content: "\A";
      display: inline-block;
      -ms-flex-line-pack: center;
      align-content: center; }
    .single-module__details:hover::after {
      margin-left: 10px; }
    .single-module__details:hover::before {
      margin-right: 10px; }
  .single-module__details::after, .single-module__details::before {
    height: 0.5em;
    width: 0.5em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 50%;
    background-color: #2c5697;
    content: "\A";
    display: inline-block;
    -ms-flex-line-pack: center;
    align-content: center; }
  .single-module__details::after {
    margin-left: 10px; }
  .single-module__details::before {
    margin-right: 10px; }

/*---------------------------------------------------*\
    #SINGLE MODULE DETAILS MODAL
\*---------------------------------------------------*/
.single-module__details-modal-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.4em; }
  .single-module__details-modal-header::before {
    height: 0.5em;
    width: 0.5em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 50%;
    background-color: #2c5697;
    content: "\A";
    display: inline-block;
    margin-right: 5px; }

.single-module__details-modal-single-detail {
  list-style: none;
  font-size: 1.2em; }
  .single-module__details-modal-single-detail::before {
    height: 0.5em;
    width: 0.5em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 50%;
    background-color: #fee123;
    content: "\A";
    display: inline-block;
    margin-right: 5px; }

/*---------------------------------------------------*\
    #FOOTER
\*---------------------------------------------------*/
.footer {
  background-color: #6c6c6c;
  opacity: 0.8;
  color: ghostwhite; }

.footer__contact-info {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 40%;
  font-size: 1.5vw; }
  .footer__contact-info * {
    margin-top: 10px; }
  .footer__contact-info a {
    text-decoration: none;
    color: ghostwhite;
    display: block; }

.footer__contact-info-icon {
  height: 2vw;
  width: 2vw;
  margin-top: 0;
  margin-right: 0.5vw; }

.footer__copyright {
  border-top: 1px solid ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.5vw;
  color: #a8a8a8; }
  .footer__copyright p {
    margin-left: 10px; }
    .footer__copyright p a {
      text-decoration: none;
      color: #a8a8a8; }

/*---------------------------------------------------*\
    #PRELOADER
\*---------------------------------------------------*/
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Montserrat; }

.preload_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.preload_text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px; }

.preload_bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px; }
  .preload_bounceball:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fbae17;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: bounce 500ms alternate infinite ease;
    animation: bounce 500ms alternate infinite ease; }

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2); }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    top: 0; } }

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2); }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    top: 0; } }

/*---------------------------------------------------*\
    #MEDIA QUERIES
\*---------------------------------------------------*/
@media (max-width: 700px) {
  .main-layout {
    -ms-grid-columns: 60vw 40vw;
    grid-template-columns: 60vw 40vw;
    -ms-grid-rows: 15vh auto;
    grid-template-rows: 15vh auto; }
  .main-layout > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  .main-layout > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2; }
  .main-layout > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
  .main-layout > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2; }
  .thematic-area-nav {
    width: 100vw;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: block;
    border-radius: 0;
    margin-bottom: 20px; }
    .thematic-area-nav > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin-bottom: 0; }
  .thematic-area-nav__logo {
    position: absolute;
    opacity: 0; }
  .thematic-area-nav__areas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%; }
    .thematic-area-nav__areas > button {
      width: 45%;
      font-size: 3vw;
      margin: 5px; }
  .order-list {
    padding: 0 1.5vw 3vw 1.5vw; }
  .order-list__help {
    font-size: 2vw;
    padding-right: 30px; }
  .order-list__header {
    font-size: 4vw;
    margin-top: 10vw; }
  .order-list__add-first-module-info {
    font-size: 2.5vw !important; }
  .order-list__single-day-display {
    margin-top: 15px;
    margin-bottom: 10px; }
  .order-list__single-day-display-header {
    font-size: 3vw; }
  .list-group-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 85%;
    font-size: 2.5vw; }
  .order-list__single-day-remove-button {
    height: 1.5em;
    width: 1.5em; }
  .send-my-list__send-button {
    font-size: 1em; }
  .send-my-list__form-input-label {
    font-size: 2.5vw; }
  .form-controlsend-my-list__form-input {
    font-size: 2vw; }
  .checkbox {
    height: 1vw;
    width: 1vw; }
  .checkbox-inline {
    font-size: 2vw; }
  input[type="checkbox"] {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .main-layout__modules-display {
    padding-left: 5px;
    padding-right: 5px; }
  .main-layout__single-modules-display {
    grid-template-columns: repeat(auto-fit, minmax(20vw, 25vw)); }
  .thematic-area-display {
    padding: 0 1vw 3vw 1vw; }
    .thematic-area-display > h3 {
      border-bottom: 0.5vw solid #dfdede; }
      .thematic-area-display > h3 > span {
        padding: 1.5vw 3vw 0 1.5vw;
        font-size: 3vw;
        font-weight: bold; }
  .single-module {
    min-height: 30vw; }
  .single-module__module-name-display-title {
    min-height: 25vw;
    font-size: 3.5vw; }
  .single-module__add-button {
    font-size: 2vw;
    min-height: 5vw; }
    .single-module__add-button::after {
      margin-left: 5px; }
    .single-module__add-button::before {
      margin-right: 5px; }
  .single-module__details {
    height: 5vw;
    font-size: 2vw; }
    .single-module__details::after {
      margin-left: 5px; }
    .single-module__details::before {
      margin-right: 5px; }
  .footer__contact-info {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    font-size: 5vw; }
  .footer__contact-info-icon {
    height: 5vw;
    width: 5vw;
    margin-right: 3vw; }
  .footer__copyright {
    font-size: 0.5vw;
    color: #a8a8a8; }
    .footer__copyright p {
      margin-left: 10px; }
      .footer__copyright p a {
        text-decoration: none;
        color: #a8a8a8; } }

@media (min-width: 1000px) {
  .modal-dialog {
    position: absolute;
    margin: 100px auto auto 15vw; }
  .modal-content {
    width: 70vw;
    font-size: 1vw; }
  .single-module__details-modal-header::before {
    margin-right: 0.5em; }
  .modal-header > button {
    font-size: 2em; }
  .modal-footer > button {
    font-size: 1.3em; }
  .single-module__details-modal-single-detail {
    line-height: 1.7em; }
    .single-module__details-modal-single-detail::before {
      margin-right: 1em; } }

/*---------------------------------------------------*\
    #PRELOADER
\*---------------------------------------------------*/
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Montserrat; }

.preload_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.preload_text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px; }

.preload_bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px; }
  .preload_bounceball:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fbae17;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: bounce 500ms alternate infinite ease;
    animation: bounce 500ms alternate infinite ease; }

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
    transform: scaleX(2); }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  100% {
    top: 0; } }
