body {
  margin: 0;
  padding: 0;
  font-family: Shree;
  background-color: #e0e0e0; }

/*
@font-face {
  font-family: "Shree";
  src: url(./fonts/font.css);
}*/
.thematic-area-nav {
  position: fixed;
  width: 69vw;
  border-radius: 0;
  margin: 0;
  z-index: 2;
  font-size: 1.2vw;
  box-shadow: 0 0 25px 1px #000000;
  border-radius: 0 0 5px 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), color-stop(50%, #ededed), to(#f9f9f9));
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (max-width: 700px) {
    .thematic-area-nav {
      display: block;
      width: 59vw;
      font-size: 2.3vw; } }

@media (max-width: 420px) {
  .thematic-area-nav__logo-wrapper {
    text-align: center;
    margin-bottom: 0.6em; } }

.thematic-area-nav__logo {
  height: 7vw; }
  @media (max-width: 850px) {
    .thematic-area-nav__logo {
      display: none; } }

.thematic-area-nav__areas {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1; }

.thematic-area-nav__single-thematic-area {
  padding: 0.6em 1em;
  margin-bottom: 0.6em;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  background-color: #f9f9f9; }
  .thematic-area-nav__single-thematic-area a {
    text-decoration: none;
    color: black; }
  .thematic-area-nav__single-thematic-area > a:focus {
    outline: none;
    box-shadow: inset 1px 1px 1px; }
  .thematic-area-nav__single-thematic-area:hover {
    cursor: pointer;
    color: black;
    box-shadow: inset 1px 1px 1px; }

/*
@media (max-width: 700px) {
  .thematic-area-nav {
    width: 100vw;
    padding: 5px;
    display: flex;
    border-radius: 0;
    margin-bottom: 20px;

    & > ul {
      display: flex;
      padding: 0;
      margin-bottom: 0;
    }
  }
  .thematic-area-nav__logo {
    position: absolute;
    opacity: 0;
  }
  .thematic-area-nav__areas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    & > button {
      width: 45%;
      font-size: 3vw;
      margin: 5px;
    }
  }
}
*/
