.thematic-area-nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  background-color: white;
  /*
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($color-background-primary),
    color-stop(50%, rgb(237, 237, 237)),
    to($color-background-primary)
  );*/
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 69vw;
  box-shadow: 0 2px 1px 0px #ebebeb; }
  @media (max-width: 599px) {
    .thematic-area-nav {
      width: 60vw;
      font-size: 14px;
      padding: 4px; } }
  @media (min-width: 600px) {
    .thematic-area-nav {
      width: 70.1vw;
      font-size: 12px; } }
  @media (min-width: 900px) {
    .thematic-area-nav {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .thematic-area-nav {
      font-size: 18px; } }
  @media (min-width: 1800px) {
    .thematic-area-nav {
      font-size: 1.2vw; } }

@media (min-width: 900px) {
  .thematic-area-nav__logo-wrapper {
    display: block; } }

@media (min-width: 900px) {
  .thematic-area-nav__logo {
    display: block; } }

.thematic-area-nav__areas {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1; }
  @media (max-width: 599px) {
    .thematic-area-nav__areas {
      padding-left: 0; } }
  @media (min-width: 600px) {
    .thematic-area-nav__areas {
      padding-left: 0; } }

.thematic-area-nav__single-thematic-area {
  padding: 0.6em 1em;
  margin-bottom: 0.6em;
  border-top: none;
  border-bottom: none;
  background-color: white; }
  .thematic-area-nav__single-thematic-area a {
    text-decoration: none;
    font-weight: bold;
    color: #393e41; }
  .thematic-area-nav__single-thematic-area > a:focus {
    outline: none;
    color: #2c5697;
    text-decoration: underline; }
    .thematic-area-nav__single-thematic-area > a:focus:before {
      height: 0.6em;
      width: 0.6em;
      align-self: center;
      border-radius: 50%;
      background-color: #fee123;
      margin-right: 5px;
      content: "\A";
      display: inline-block;
      align-content: center; }
  .thematic-area-nav__single-thematic-area:hover {
    cursor: pointer;
    color: #2c5697;
    text-decoration: underline; }
  @media (max-width: 599px) {
    .thematic-area-nav__single-thematic-area {
      align-items: center; } }
  @media (min-width: 600px) {
    .thematic-area-nav__single-thematic-area {
      align-items: center; } }
