@import "../../global.scss";
.thematic-area-nav {
  position: fixed;
  width: 69vw;
  border-radius: 0;
  margin: 0;
  z-index: 2;
  font-size: 1.2vw;
  box-shadow: 0 0 25px 1px #000000;
  border-radius: 0 0 5px 5px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($color-background-primary),
    color-stop(50%, rgb(237, 237, 237)),
    to($color-background-primary)
  );
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 700px) {
    display: block;
    width: 59vw;
    font-size: 2.3vw;
  }
}
.thematic-area-nav__logo-wrapper {
  @media (max-width: 420px) {
    text-align: center;
    margin-bottom: 0.6em;
  }
}
.thematic-area-nav__logo {
  height: 7vw;
  @media (max-width: 850px) {
    display: none;
  }
}
.thematic-area-nav__areas {
  list-style: none;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
.thematic-area-nav__single-thematic-area {
  padding: 0.6em 1em;
  margin-bottom: 0.6em;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid rgb(218, 218, 218);
  border-left: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  background-color: $color-background-primary;
  & a {
    text-decoration: none;
    color: black;
  }
  & > a:focus {
    outline: none;
    box-shadow: inset 1px 1px 1px;
  }
  &:hover {
    cursor: pointer;
    color: black;
    box-shadow: inset 1px 1px 1px;
  }
}
/*
@media (max-width: 700px) {
  .thematic-area-nav {
    width: 100vw;
    padding: 5px;
    display: flex;
    border-radius: 0;
    margin-bottom: 20px;

    & > ul {
      display: flex;
      padding: 0;
      margin-bottom: 0;
    }
  }
  .thematic-area-nav__logo {
    position: absolute;
    opacity: 0;
  }
  .thematic-area-nav__areas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    & > button {
      width: 45%;
      font-size: 3vw;
      margin: 5px;
    }
  }
}
*/
