@import "../../global.scss";
.thematic-area-nav {
  position: fixed;
  top: 0; 
  left: 0; 
  margin: 0;
  z-index: 2;
  background-color: $color-background-primary;
  /*
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($color-background-primary),
    color-stop(50%, rgb(237, 237, 237)),
    to($color-background-primary)
  );*/
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 69vw;
  //font-size: 1.2vw;
  box-shadow: 0 2px 1px 0px rgb(235, 235, 235);
  //border-radius: 0 0 5px 5px;
  //padding: 5px;
  @include for-phone {
    width: 60vw;
    font-size: 14px;
    padding: 4px;
  }
  @include for-tablet-portrait-and-up {
    width: 70.1vw;
    font-size: 12px;
  }
  @include for-tablet-landscape-and-up {
    font-size: 14px;
  }
  @include for-desctop-and-up {
    font-size: 18px;
  }
  @include for-big-screen-and-up {
    font-size: 1.2vw;
  }
}
.thematic-area-nav__logo-wrapper {
  @include for-tablet-landscape-and-up {
    display: block;
  }
}
.thematic-area-nav__logo {
  @include for-phone {
    //display: none;
  }
  @include for-tablet-portrait-and-up {
    //display: none;
  }
  @include for-tablet-landscape-and-up {
    display: block;
   //height: 4vw;
  }
}
.thematic-area-nav__areas {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1;

  @include for-phone {
    padding-left: 0;
  }
  @include for-tablet-portrait-and-up {
    padding-left: 0;
  }
}
.thematic-area-nav__single-thematic-area {
  padding: 0.6em 1em;
  margin-bottom: 0.6em;
  border-top: none;
  border-bottom: none;
  //border-right: 1px solid rgb(218, 218, 218);
  //border-left: 1px solid rgb(218, 218, 218);
  //border-radius: 5px;
  //box-shadow: 1px 1px 1px;
  background-color: $color-background-primary;
  & a {
    text-decoration: none;
    font-weight: bold;
    color: #393e41;
  }
  & > a:focus {
    outline: none;
    color: $color-cp-blue;
    text-decoration: underline;
    &:before {
      @include bullet($color-cp-yellow, 0.6em);
      margin-right: 5px;
      content: "\A";
      display: inline-block;
      align-content: center;
    }
  }
  &:hover {
    cursor: pointer;
    color: $color-cp-blue;
    text-decoration: underline;
  }
  @include for-phone {
    align-items: center;
  }
  @include for-tablet-portrait-and-up {
    align-items: center;
  }
}
