body {
  margin: 0;
  padding: 0;
  font-family: Shree;
  background-color: #e0e0e0; }

/*
@font-face {
  font-family: "Shree";
  src: url(./fonts/font.css);
}*/
.order-list {
  grid-column: 2/3;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f9f9f9;
  padding: 0 1vw 2vw 1vw;
  border: 0.1vw double #c3c3c3; }

.order-list__header {
  border-bottom: 1px solid #dfdede;
  font-size: 1.6vw; }

.order-list__add-first-module-info {
  font-size: 1.2vw !important; }
  .order-list__add-first-module-info::before {
    height: 0.5em;
    width: 0.5em;
    align-self: center;
    border-radius: 50%;
    background-color: #2c5697;
    content: "\A";
    display: inline-block;
    margin-right: 5px; }

.order-list__single-day-close-day-button {
  width: 90%;
  font-size: 1.2vw; }

@media (max-width: 700px) {
  .order-list {
    padding: 0 1.5vw 3vw 1.5vw; }
  .order-list__header {
    font-size: 4vw;
    margin-top: 10vw; }
  .order-list__add-first-module-info {
    font-size: 2.5vw !important; } }
